@using System.Text
@using eShop.BlazorWebUI.Components.Layout
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MainLayout>
    <Body>
        <MudGrid>
            <MudItem xs="9">
                @Body
            </MudItem>
            <MudItem xs="3">
                <MudStack>
                    <ProfileNavigationButton Label="Profile" StartIcon="@Icons.Material.Filled.ManageAccounts" PageUri="/profile" />
                    <ProfileNavigationButton Label="User Data" StartIcon="@Icons.Material.Filled.PrivacyTip" PageUri="/profile/user-data" />
                    <ProfileNavigationButton Label="Security" StartIcon="@Icons.Material.Filled.Security" PageUri="/profile/security" />
                    <ProfileNavigationButton Label="Settings" StartIcon="@Icons.Material.Filled.Settings" PageUri="/profile/settings" />
                </MudStack>
            </MudItem>
        </MudGrid>
    </Body>
</MainLayout>

@code {

}
