@page "/seller/details/{article}"

@using eShop.Domain.DTOs.ProductApi
@inherits PageBase

<Title Text="@(string.IsNullOrEmpty(Model.Name) ? "Seller details" : $"Details {Model.Name}")"></Title>

@code {
    [SupplyParameterFromQuery(Name = "article")] private string Article { get; set; } = string.Empty;

    private SellerDto Model { get; set; } = new();
}